{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    Przelewy24 powered by Waynet
 * @copyright Przelewy24
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="card przelewy24-card">
        <div class="js-przelewy24-tabs-content-form-content">
            <div class="alert alert-info">
                <p class="alert-text">
                    <a
                        href="https://www.przelewy24.pl/centrum-pomocy/sprzedaje-z-przelewy24/metody-platnosci-konto/brakuje-odpowiedzi-na-twoje-pytanie "
                        target='_blank'
                    >
                        {{ 'Check how to enable or disable Przelewy24 Installments.'|trans({}, 'Modules.Przelewy24payment.Config') }}
                    </a>
                </p>
            </div>

            {% include '@Modules/przelewy24payment/views/templates/admin/config/form_card.html.twig' with {
                form: form,
                title: title,
            } %}
        </div>
        <div class="card-footer przelewy24-card-footer">
            <div class="row">
                <div class="col-auto ml-auto">
                    <button class="btn-save btn btn-primary float-right">
                        {{ 'Save'|trans({}, 'Admin.Actions') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
